<!-- views/pages/posts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/navigation %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                <% if(typeof post !== 'undefined'){ %>
                    <form action="/posts/voteUp" method="post" accept-charset="utf-8">
                      <input type="hidden" name="title" value="<%= post.title %>" />
                      <input type="hidden" name="email" value="<%= post.emailAddress %>" />
                      <input class="btn-info" type="submit" name="submit" value="Vote UP" />
                    </form>
                    <h2> <%= post.title %></h2>
                    <p>
                        <%= post.content %>
                    </p>
                    <p>
                      <h6>On <%= post.getCreationDate() %> by <a href="/users/<%= post.emailAddress %>"><%= post.emailAddress %></a> </h6>
                    </p>

                <% } else{ %>
                    <h3>Select a post to see its details!</h3>
                <% } %>
                </div>

            </div>
            <div class="col-sm-4">

              <div class="well">
                <h4>Top voted posts:</h4>
                <ul>
                  <% topVotedPosts.forEach(function(postTitleKeyUi) { %>
                      <li><a href="/posts/<%= postTitleKeyUi.key %>"><%= postTitleKeyUi.title %></a></li>
                  <% }); %>
                </ul>
              </div>

                <div class="well">
                  <h4>Last added posts:</h4>
                  <ul>
                    <% lastCreatedPosts.forEach(function(postTitleKeyUi) { %>
                        <li><a href="/posts/<%= postTitleKeyUi.key %>"><%= postTitleKeyUi.title %></a></li>
                    <% }); %>
                  </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>
</html>
