<!-- views/pages/posts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/navigation %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h2> <%= user.emailAddress %> details</h2>
                    <ul>
                        <li>First Name - <%= user.firstName %></li>
                        <li>Last Name - <%= user.lastName %></li>
                        <li>from <%= user.city %>, <%= user.country %></li>
                        <li>working at <%= user.jobCompany %> as <%= user.jobTitle %></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Last registered users:</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>